:root{
    --background-color: --bs-dark-rgb;
    --background-color-2: rgb(58, 63, 69);
    --color-text: rgba(255, 255, 255, .5);
    --color-text-2: rgba(209, 209, 209, 0.5);
}

.cover-container{
    max-width: 80em;
}

.nav-masthead .nav-link {
    color: rgba(255, 255, 255, .5);
    border-bottom: .25rem solid transparent;
    border-bottom-color: transparent;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}
.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .nav-link:hover, .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}


.sidebar {
    position: fixed;
    height: 100%;
    background-color: var(--background-color-2);
    color: #fff;
    border-radius: 15px;
    margin: 15px 0px;
    width: auto;
}
.sidebar a {
    color: var(--color-text);
    text-decoration: none;

    margin-bottom: 15px;
}
.sidebar a:hover {
    color: var(--color-text-2);
}
.content {
    flex-grow: 1;
    padding: 20px;
}